
*{
    margin: 0%;
    padding: 0%;
}

.fondo{
    background: url(/style/imagen/fondo-encavezado2.jpg);
    background-size: cover;
    background-position:center;
    height: 380px;
}

body{
    background: url(/style/imagen/fondo-cuerpo.jpg);
    width: 100%;
}


.fixed-box {
    position: fixed;
    width: max-content;
    top: 0;
    right: 0;
    background-color: rgb(223, 225, 226);
    width: 100%;
    height: 50px;
}

.icon{
    width: 45px;
    height: 25px;

}


ul{
    display: flex; 
    justify-content: space-between;
    padding: 1px;
    list-style: none;  /* borro item */
    color: rgb(0, 113, 206);
    font-style: oblique;
    font-weight: 800;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}   

li{
    padding-left: 3px;
    padding-right: 8px;
}

#abrir-carrito{
    position: relative;
    bottom: 8px;
    width: 40px;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 10px;
    border-color:  rgb(143, 213, 248);
}

.imgcarrito{
    width: 38px;
    height: 30px;
}  

#carrito-lista {
    display: none;
    position: absolute; 
    border: 1px solid #ccc;
    left: 33%; 
    padding: 10px;
    width: 300px;
    height: auto;
    background-color: #f9f9f9;
    margin-top: 100px;
}

#carrito-lista ul {
    display: flow-root;
    text-align: center;
    padding: 0;
}

#carrito-lista li {
    padding-left: 5px;
    padding-right: 3px;
    justify-content: space-around;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #8e8a8a;
}

#total{
    font-size: 24px;
    font-weight: bold;
}

#contador-carrito {
    position: absolute;
    top: -3px;
    right: -4px;
    background-color: #e91e63;
    color: white;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 11px;
    padding-top: 3px;
    border-radius: 50%;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    min-width: 8px;
    height: 8px;
}

.botoncarito{

    width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 8px;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 3, 5);
} 


#lista-productos {
    list-style: none;
    padding: 0;
}



/* medio de pago */

.ecavesadocompra {
    position: fixed;
    width: max-content;
    top: 8%;
    background-color: rgb(127, 255, 212);
    padding: 0px;
    width: 100%;
    height: 47px;
}

.mediodepago {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 75px;
}

.targeta {
    margin-top: 5px;
    margin-bottom: 6px;
    display: flex;
}

.targeta img {

    width: 53%;
    height: 87%;
}

/*mensaje descuento*/

.descuento {
    position: fixed;
    width: max-content;
    top: 16%;
    background-color: rgba(0, 14, 207, 0.556);
    color: azure;
    font-size: 13px;
    width: 100%;
    height: 50px;
}

h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* productos generados */

.producto {
    border: 1px solid #292626;
    border-radius: 2%;
    padding-left: 0px;
    padding-right: 2px;
    padding-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    width: 215px;
}

.producto h2{
    font-size: 23px;
    text-align: center;
}

.producto p{
    font-size: 18px;
    padding-left: 5%;
}

.producto button{
    margin-left: 18%;
    font-weight: 700;
    margin-top: 10px;
    width: 130px;
    height: 30px;
}

.producto img {
    width: 63%;
    height: 60%;
    margin-left: 20%;
}

#resultado {
    display: inline-block;
    columns: 2;
    margin-bottom: 20px;
    margin-left: 2%;

}

/* Formulario de pago con tarjeta */

#formulario-tarjeta{
    display: none; 
    background-color: #fff;
    width: 80%; 
    margin-left: 7%;
    padding: 15px; 
    border: 2px solid #7f7d7d; 
    margin-top: 20px;
    margin-bottom: 20px; 
    
}

#formulario-tarjeta h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
    margin-bottom: 12px;
    font-size: 24px;
}

#formulario-tarjeta label{
    color: #292626;
    font-size: 18px;
    font-weight: bolder;
}

#formulario-tarjeta input{
    color: #160c68;
    font-size: 15px;
    font-weight: bold;
}

#formulario-tarjeta p{
    color: #080000;
    font-family: 'Franklin Gothic Medium';
    margin-top: 4%;
    font-size: 25px;
    font-weight: bolder;
}

#formulario-tarjeta button{
    color: #02000b;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 30%;
    width: max-content;
    padding: 7px;
}

#gestion-stock{
    margin-top: 20px;
}

#panel-stock{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
}

.gestion{
    padding: 2%;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 800;

}

#panel-stock button{
    padding: 1%;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman';
    font-weight: 600;
    font-size: 16px;
}

.stocktotal{
    background-color: rgb(194, 251, 110);
}

.verproducto{
    background-color: #ffa8ff;
}

.buscarproducto{
    background-color: #035afc7d;
}

.agotados{
    background-color: rgba(253, 64, 64, 0.733);
}

.bajo{
    background-color: aqua;
}

.resetear{
    background-color: rgb(197, 138, 253);

}


#buscarProducto{
    margin-left: 10%;
    padding: 1%;
}

#buscar{
    width: max-content;
    font-size: 15px;
    font-weight: 500;
    margin-right: 7px;
    background-color: #cdcaca;
    padding: 4px;
}

#add{
    margin-top: 1%;
    padding: 2px;
    font-size: 14px;
    background-color: rgb(248, 248, 207);
}

h3{
    text-align: center;
    font-size: 21px;
    text-decoration: underline;
}


#busqueda{
    color: #4e2905;
    margin-bottom: 8px;
    font-size: 17px;
    display: inline-block;
}

#busqueda li{
    padding-left: 3px;
    padding-bottom: 8px;
    padding-right: 8px;
}

#lista{
    display: inline-block;
    columns: 3;
    color: #020761;
    font-size: 19px;
    margin-bottom: 30px;
}

#busqueda li img{
    width: 37px;
    cursor: pointer;
}


/* Oculta el mensaje de error */
.d-none {
    display: none;
}

#pie{
    display: flex;
    width:100%;
    height: max-content;
}


@media (min-width: 330px) and (max-width: 360px) {

    body{
        background: url(/style/imagen/fondo-cuerpo.jpg);
        width: 153%;
    }

    .icon{
        width: 50px;
        height: 30px;

    }


    ul{
        padding: 3px;
        font-weight: 900;
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
    }   

    li{
        padding-left: 1px;
        padding-right: 3px;
    }

    #abrir-carrito{
        position: relative;
        bottom: 8px;
        width: 40px;
        height: 40px;
        padding-top: 4px;
        padding-bottom: 10px;
        border-color:  rgb(143, 213, 248);

    }

    .imgcarrito{
        width: 38px;
        height: 30px;
    }  

    #carrito-lista {
        display: none;
        position: absolute; 
        border: 1px solid #ccc;
        left: 33%; 
        padding: 10px;
        width: 300px;
        height: auto;
        background-color: #f9f9f9;
        margin-top: 100px;
    }

    #carrito-lista ul {
        display: flow-root;
        text-align: center;
        padding: 0;
    }

    #carrito-lista li {
        padding-left: 5px;
        padding-right: 3px;
        justify-content: space-around;
        font-size: 23px;
        line-height: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid #8e8a8a;
    }

    #total{
        font-size: 25px;
        font-weight: bold;
    }

    #contador-carrito {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: #e91e63;
        color: white;
        font-size: 18px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 50%;
        font-weight: bold;
        display: inline-block;
        align-items: center;
        min-width: 8px;
        height: 8px;
    }

    .botoncarito{
        width: max-content;
        padding-bottom: 10px;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 10px;
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        color: rgb(0, 3, 5);
    } 


    /* medio de pago */

    .ecavesadocompra {
        top: 6%;
        height: 57px;
    }

    .mediodepago {
        margin-right: 45px;
        margin-left: 70px;
    }

    .targeta {
        margin-top: 8px;
    }

    .targeta img {
        width: 60%;
        height: 87%;
    }


    /*mensaje descuento*/

    .descuento {
        top: 13%;
        background-color: rgba(0, 14, 207, 0.556);
        color: azure;
        font-size: 12px;
        width: 100%;
        height: 47px;
    }


    /* productos generados */

    .titulo{
        text-align: center;
        font-size: 40px;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    #resultado {
        display: inline-block;
        columns: 2;
        margin-bottom: 20px;
        margin-left: 3%;

    }

    .producto {
        margin-left: 3%;
    }

    .producto h2{
        font-size: 24px;
    }

    .producto p{
        font-size: 20px;
    }

    .producto button{
        margin-left: 14%;
        font-size: 16px;
        width: 140px;
        height: 40px;
    }

    .producto img {
        width: 70%;
        height: 60%;
        margin-left: 15%;
    }

    /* Formulario de pago con tarjeta */

    #formulario-tarjeta{
        width: 85%; 
        margin-left: 4%;
        padding: 20px; 
        border: 3px solid #7f7d7d; 
        margin-top: 30px;
        margin-bottom: 20px;  
    }

    #formulario-tarjeta h2{
        margin-bottom: 18px;
        font-size: 30px;
    }

    #formulario-tarjeta label{
        color: #292626;
        font-size: 25px;
    }

    #formulario-tarjeta input{
        color: #160c68;
        font-size: 21px;
    }

    #formulario-tarjeta p{
        color: #080000;
        margin-top: 4%;
        font-size: 28px;
    }

    #formulario-tarjeta button{
        color: #02000b;
        font-size: 22px;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 30%;
        width: max-content;
        padding: 10px;
    }



    #formulario-tarjeta button{
        font-size: 20px;
    }

    #panel-stock{
        margin-top: 20px;
    }

    .gestion{
        margin-left: 30px;
        font-size: 16px;
    }

    #panel-stock button{
        padding: 2%;
        margin-bottom: 15px;
        margin-left: 2px;
        font-size: 17px;
    }



}


@media (min-width: 361px) and (max-width: 499px) {

    body{
        background: url(/style/imagen/fondo-cuerpo.jpg);
        width: 153%;
    }

    .icon{
        width: 55px;
        height: 25px;

    }

    ul{
        font-size: 24px;
    }   

    #resultado {
        display: inline-block;
        columns: 2;
        margin-bottom: 20px;
        margin-left: 12%;

    }

    .producto {
        border: 1px solid #292626;
        border-radius: 2%;
        padding-left: 0px;
        padding-right: 1px;
        padding-bottom: 15px;
        margin-left: 2%;
        margin-right: 8%;
        margin-bottom: 30px;
        width: 215px;
    }

    .producto h2{
        font-size: 24px;
    }

    .producto p{
        font-size: 23px;
    }

    .producto button{
        margin-left: 14%;
        font-size: 18px;
        width: 150px;
        height: 50px;
    }

    .producto img {
        width: 80%;
        height: 60%;
        margin-left: 10%;
    }


    /* medio de pago */

    .ecavesadocompra {
        position: fixed;
        width: max-content;
        top:6%;
        background-color: rgb(127, 255, 212);
        padding: 4px;
        width: 100%;
        height: 60px;
    }

    .targeta img {

        width: 62%;
        height: 83%;
    }

    /*mensaje descuento*/

    .descuento {
        position: fixed;
        width: max-content;
        top: 15%;
        background-color: rgba(0, 14, 207, 0.556);
        color: azure;
        font-size: 12px;
        width: 100%;
        height: 55px;
    }

    
    /* Formulario de pago con tarjeta */

    #formulario-tarjeta{
        width: 85%; 
        margin-left: 4%;
        padding: 20px; 
        border: 3px solid #7f7d7d; 
        margin-top: 30px;
        margin-bottom: 20px;  
    }

    #formulario-tarjeta h2{
        margin-bottom: 18px;
        font-size: 30px;
    }

    #formulario-tarjeta label{
        color: #292626;
        font-size: 25px;
    }

    #formulario-tarjeta input{
        color: #160c68;
        font-size: 21px;
    }

    #formulario-tarjeta p{
        color: #080000;
        margin-top: 4%;
        font-size: 28px;
    }

    #formulario-tarjeta button{
        color: #02000b;
        font-size: 22px;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 30%;
        width: max-content;
        padding: 10px;
    }


    #formulario-tarjeta button{
        font-size: 20px;
    }

    #panel-stock{
        margin-top: 20px;
    }

    .gestion{
        margin-left: 30px;
        font-size: 16px;
    }

    #panel-stock button{
        padding: 2%;
        margin-bottom: 15px;
        margin-left: 2px;
        font-size: 17px;
    }


}


@media (min-width: 501px) and (max-width: 600px) {

iframe{
        margin-top: 10px;
        height:200px;
        width:102%;
}    

.icon{
    width: 50px;
    height: 30px;

}


ul{
    font-size: 22px;
}   

li{
    padding-left: 3px;
    padding-right: 4px;
}

#abrir-carrito{
    bottom: 9px;
    width: 43px;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 12px;
}

.imgcarrito{
    width: 40px;
    height: 30px;
}  

#carrito-lista li {
    padding-left: 5px;
    padding-right: 3px;
    justify-content: space-around;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #8e8a8a;
}

#total{
    font-size: 23px;
    font-weight: bold;
}

#contador-carrito {
    font-size: 16px;
}

/* medio de pago */

.ecavesadocompra {
    top: 8%;
    width: 100%;
    height: 60px;
}

.mediodepago {
    margin-right: 40px;
    margin-left: 65px;
}

.targeta {
    margin-top: 8px;
    margin-bottom: 6px;
}

.targeta img {

    width: 70%;
    height: 70%;
}

/*mensaje descuento*/

.descuento {
    top: 18%;
    width: 100%;
    height: 55px;
}

h1{
    text-align: center;
    font-size: 26px;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* productos generados */

.titulo{
    font-size: 30px;
}

.producto {
    border: 1px solid #292626;
    border-radius: 2%;
    padding-left: 0px;
    padding-right: 1px;
    padding-bottom: 15px;
    margin-left: 8%;
    margin-right: 4%;
    margin-bottom: 20px;
    width: 218px;
}

.producto h2{
    font-size: 25px;
}

.producto p{
    font-size: 20px;
    padding-left: 7%;
}

.producto button{
    margin-left: 18%;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    width: 130px;
    height: 30px;
}

.producto img {
    width: 68%;
    height: 60%;
    margin-left: 17%;
}

#resultado {
    display: inline-block;
    columns: 2;
    margin-bottom: 20px;
    margin-left: 2%;

}

    /* Formulario de pago con tarjeta */

    #formulario-tarjeta{
        width: 70%; 
        margin-left: 10%; 
    }

    #formulario-tarjeta h2{
        font-size: 26px;
    }

    #formulario-tarjeta label{
        font-size: 21px;
    }

    #formulario-tarjeta input{
        font-size: 18px;
    }

    #formulario-tarjeta p{
        font-size: 25px;
    }

    #formulario-tarjeta button{
        font-size: 18px;
        margin-top: 5%;
        margin-left: 30%;
        width: max-content;
        padding: 8px;
    }



}


@media (min-width: 601px) and (max-width: 800px) {

iframe{
        margin-top: 10px;
        height:200px;
        width:102%;
}


.icon{
    width: 60px;
    height: 30px;

}


ul{
    font-size: 25px;
}   

li{
    padding-left: 2px;
    padding-right: 3px;
}

#abrir-carrito{
    width: 45px;
}


.imgcarrito{
    width: 43px;
    height: 30px;
}  

#carrito-lista li {
    font-size: 21px;
}

#total{
    font-size: 24px;
}

#contador-carrito {
    font-size: 17px;
}

/* medio de pago */

.ecavesadocompra {
    top: 8%;
    width: 100%;
    height: 60px;
}

.mediodepago {
    margin-right: 40px;
    margin-left: 65px;
}

.targeta {
    margin-top: 8px;
    margin-bottom: 5px;
}

.targeta img {

    width: 70%;
    height: 60%;
}

/*mensaje descuento*/

.descuento {
    top: 18%;
    width: 100%;
    height: 55px;
}

h1{
    text-align: center;
    font-size: 27px;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* productos generados */

.titulo{
    font-size: 37px;
}

.producto {

    margin-left: 30%;
}

.producto h2{
    font-size: 26px;
}

.producto p{
    font-size: 21px;
}

.producto button{
    margin-left: 18%;
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
    width: 130px;
    height: 40px;
}

.producto img {
    width: 75%;
    height: 60%;
    margin-left: 14%;
}

#resultado {
    display: inline-block;
    columns: 2;
    margin-bottom: 20px;
    margin-left: 3%;

}

    /* Formulario de pago con tarjeta */

    #formulario-tarjeta{
        width: 70%; 
        margin-left: 10%; 
    }

    #formulario-tarjeta h2{
        font-size: 26px;
    }

    #formulario-tarjeta label{
        font-size: 21px;
    }

    #formulario-tarjeta input{
        font-size: 18px;
    }

    #formulario-tarjeta p{
        font-size: 25px;
    }

    #formulario-tarjeta button{
        font-size: 18px;
        margin-top: 5%;
        margin-left: 30%;
        width: max-content;
        padding: 8px;
    }





}

/* @media (min-width: 801px) and (max-width: 1200px) {

.icon{
    width: 60px;
    height: 30px;

}


ul{
    font-size: 25px;
}   

li{
    padding-left: 2px;
    padding-right: 3px;
}

#abrir-carrito{
    width: 45px;
}


.imgcarrito{
    width: 43px;
    height: 30px;
}  

#carrito-lista li {
    font-size: 21px;
}

#total{
    font-size: 24px;
}

#contador-carrito {
    font-size: 17px;
}

/* medio de pago *

.ecavesadocompra {
    top: 8%;
    width: 100%;
    height: 60px;
}

.mediodepago {
    margin-right: 40px;
    margin-left: 65px;
}

.targeta {
    margin-top: 8px;
    margin-bottom: 5px;
}

.targeta img {

    width: 66%;
    height: 60%;
}

/*mensaje descuento*

.descuento {
    top: 18%;
    width: 100%;
    height: 55px;
}

h1{
    text-align: center;
    font-size: 27px;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* productos generados *

.titulo{
    font-size: 37px;
}

.producto {

    margin-left: 30%;
}

.producto h2{
    font-size: 26px;
}

.producto p{
    font-size: 21px;
}

.producto button{
    margin-left: 18%;
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
    width: 130px;
    height: 40px;
}

.producto img {
    width: 75%;
    height: 60%;
    margin-left: 14%;
}

#resultado {
    display: inline-block;
    columns: 2;
    margin-bottom: 20px;
    margin-left: 3%;

}
} */
